<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Radowoj/Crawla Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
